{% extends 'layouts/application.html' %}

{% block content %}
  <a href="wbc.html" class="logo"><img src="images/mezzotent-logo.png" alt="Mezzotent"/></a>

  <h4 class="text-center mb-5">Side projects by Zac &amp; Jake</h4>

  <div class="project text-center mb-4">
    <a href="https://designercize.com/">
      <img src="http://www.fillmurray.com/800/200" alt="" class="responsive-img"><br>
      Designercize [branding, illustration, code]
    </a>
  </div>

  <div class="project text-center mb-4">
    <a href="https://gettypejam.com/">
      <img src="http://www.fillmurray.com/800/200" alt="" class="responsive-img"><br>
      TypeJam [branding, illustration, code]
    </a>
  </div>

  <div class="project text-center mb-4">
    <a href="https://learncodethehardway.org/">
      <img src="http://www.fillmurray.com/800/200" alt="" class="responsive-img"><br>
      Learn Code the Hard Way [branding, illustration, code]
    </a>
  </div>

{% endblock %}
